footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 1rem;

    p {
        color: black;
        font-style: italic;
    }
}
