form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 20rem;
    gap: 1rem;

    button {
         background-color: olive;
         border: none;
         border-radius: 5px;
         padding: 5px 10px;
         display: inline-block;
         align-self: center;
         font-family: inherit;
         font-weight: bold;
         font-size: 1.2rem;
         cursor: pointer;
    }
}