main {
    padding: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .contenedor {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: burlywood;
        border-radius: 1rem;
        padding: 1rem;

        h2 {
            align-self: flex-start;
            font-size: 1.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}
