.dinero {
    font-size: 1rem;
    font-weight: bold;
    min-width: 30px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-image: url("../assets/img/Armeria.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.armas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta-arma {
    width: 250px;
    padding: 20px;
    background-color: #06222e;
    color: white;
    border: 2px solid #888;
    border-radius: 10px;
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.contador button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.menos, .mas {
    background-color: #043d36;
    color: white;
}

.contador button:hover {
    background-color: #777;
}

.stock {
    font-size: 18px;
    font-weight: bold;
    color: rgb(87, 212, 226);
    min-width: 30px;
}

.cantidad {
    font-size: 22px;
    font-weight: bold;
    color: rgb(241, 246, 247);
    min-width: 30px;
}

.precio {
    color: rgb(241, 246, 247);
}

.precioTotal {
    font-size: 18px;
    font-weight: bold;
    color: rgb(241, 246, 247);
    min-width: 30px;
}

.cantidad, .sin-stock {
    color: red;
}

.comprar {
    border-radius: 10px;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #043d36;
    color: white;
    min-width: 140px;
}
